.navbar {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fondo);
    padding: 10px 20px;
    border-radius: 20px 20px 0 0;
}

.contenedor-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-logo {
    height: 100px;
    object-fit: cover;
}

.navbar-buscador {
    padding: 8px 12px;
    border: 1px solid #f4b6c2;
    border-radius: 20px;
    outline: none;
    width: 250px;
    transition: box-shadow 0.3s ease;
}

.navbar-buscador:focus {
    box-shadow: 0 0 5px #f4b6c2;
}

