.contenedor-general {
    background: linear-gradient(-180deg, #e6bcc6, #f3e3e5, #e6bcc6);
    /* background-color: var(--rosa-body); */
    font-family: 'Poppins', sans-serif;
    color: var(--texto);
    height: 100vh;
    padding: 20px 0 0;
}

.linea-navbar {
    display: flex;
    margin: 0 auto;
    width: 50%;
    height: 1px;
}

.contenido-filtros {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 65px 15px;
    height: 70px;
    background: var(--fondo);
}