.content-filter {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: var(--fondo);
}

.content-filter-search {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 767px) {
    .content-filter {
        width: 95%;
    }
}